/* .new_arrival_width_div{
    padding: 7%;
 } */

.list_body_all_offerzoone {
  border-top-left-radius: 5px;
  box-shadow: none !important;
  background-color: rgb(211, 206, 206);
}

.list_body_all_offerzoone:hover {
  box-shadow: 0 5px 15px rgb(0 0 0 / 8%) !important;
  transform: translateY(-10px) !important;
}
.newarrivalimges {
  /* height: 310px !important; */
  border-radius: 10px;
}
.deleteprice {
  color: gray;
  font-size: 0.8rem;
}
